/garf.egg-info/PKG-INFO
/garf.egg-info/SOURCES.txt
/garf.egg-info/dependency_links.txt
*~
.DS_Store
build
dist
garf.egg-info/
garf/__pycache__/

/.idea/
/refbackup

/notes-push-to-pypi.txt
/tests/output
/tests/pth
/tests/training_datasets
/tests/training_datasets_temp
/tests/save
